ADATABASE_URL=postgresql+asyncpg://postgres:misha123@localhost:5436/db_report
POSTGRES_USER=postgres
POSTGRES_PASSWORD=misha123
POSTGRES_DB=db_report
DATABASE_URL=postgresql+psycopg2://postgres:misha123@localhost:5436/db_report

REDIS=redis://127.0.0.1:6379